In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('agrodata.csv')

In [3]:
df.head()

,commodity_name,state,district,market,min_price,max_price,modal_price,Unnamed: 7
0,Ajwan,Gujarat,Amreli,Amreli,63.25,79.55,79.55,NaN
1,Ajwan,Gujarat,Banaskanth,Dhanera,80.05,80.05,80.05,NaN
2,Ajwan,Gujarat,Jamnagar,Jamnagar,90.00,155.00,122.50,NaN
3,Ajwan,Gujarat,Mehsana,Kadi,94.50,112.50,107.00,NaN
4,Ajwan,Gujarat,Mehsana,Unjha,21.25,148.50,99.75,NaN

In [4]:
df['commodity_name'].unique()

array(['Ajwan', 'Alasande+Gram', 'Amaranthus', 'Amla(Nelli+Kai)',
       'Amphophalus', 'Antawala', 'Apple', 'Arhar+Dal(Tur+Dal)',
       'Ashgourd', 'Avare+Dal', 'Banana', 'Banana+-+Green',
       'Barley+(Jau)', 'Beans', 'Beaten+Rice', 'Beetroot', 'Betal+Leaves',
       'Bitter+gourd', 'Black+pepper', 'Bottle+gourd', 'Brinjal',
       'Broken+Rice', 'Cabbage', 'Capsicum', 'Cardamoms', 'Carrot',
       'Cashewnuts', 'Castor+Seed', 'Cauliflower', 'Coconut',
       'Chapparad+Avare', 'Chennangi+Dal', 'Chikoos(Sapota)', 'Chili+Red',
       'Chilly+Capsicum', 'Cloves', 'Cluster+beans', 'Cocoa',
       'Coconut+Oil', 'Coconut+Seed', 'Coffee', 'Colacasia', 'Copra',
       'Coriander(Leaves)', 'Corriander+seed', 'Cowpea(Veg)', 'Cotton',
       'Cucumbar(Kheera)', 'Cummin+Seed(Jeera)', 'Drumstick',
       'Dry+Chillies', 'Dry+Fodder', 'Dry+Grapes', 'Duster+Beans', 'Egg',
       'Elephant+Yam+(Suran)', 'Field+Pea', 'Firewood', 'Fish', 'Garlic',
       'Ghee', 'Gingelly+Oil', 'Ginger(Dry)', 'Ginger(Green)', 'Grapes',
       'Green+Avare+(W)', 'Green+Chilli', 'Green+Fodder', 'Green+Peas',
       'Ground+Nut+Seed', 'Groundnut', 'Groundnut+(Split)',
       'Groundnut+pods+(raw)', 'Guar', 'Guava', 'Gur(Jaggery)', 'Hen',
       'Hybrid+Cumbu', 'Indian+Beans+(Seam)', 'Isabgul+(Psyllium)',
       'Jack+Fruit', 'Jamun(Narale+Hannu)', 'Jowar(Sorghum)', 'Jute',
       'Karbuja(Musk+Melon)', 'Knool+Khol', 'Kulthi(Horse+Gram)',
       'Lak(Teora)', 'Leafy+Vegetable', 'Lemon', 'Lime', 'Linseed',
       'Litchi', 'Long+Melon(Kakri)', 'Mahua', 'Maida+Atta', 'Maize',
       'Mango', 'Mango+(Raw-Ripe)', 'Mashrooms', 'Masur+Dal',
       'Methi+Seeds', 'Methi(Leaves)', 'Millets', 'Mint(Pudina)',
       'Moath+Dal', 'Mousambi(Sweet+Lime)', 'Mustard', 'Mustard+Oil',
       'Myrobolan(Harad)', 'Nutmeg', 'Onion', 'Onion+Green', 'Orange',
       'Paddy(Dhan)(Basmati)', 'Paddy(Dhan)(Common)', 'Papaya',
       'Papaya+(Raw)', 'Peach', 'Peas+cod', 'Peas+Wet', 'Peas(Dry)',
       'Pepper+garbled', 'Pepper+ungarbled', 'Pineapple', 'Plum',
       'Pomegranate', 'Potato', 'Pumpkin', 'Raddish',
       'Ragi+(Finger+Millet)', 'Rajgir', 'Rice', 'Ridgeguard(Tori)',
       'Round+gourd', 'Rubber', 'Safflower', 'Snakeguard', 'Soanf',
       'Soyabean', 'Spinach', 'Sponge+gourd', 'Sugar', 'Sunflower',
       'Surat+Beans+(Papadi)', 'Suva+(Dill+Seed)', 'Suvarna+Gadde',
       'Sweet+Potato', 'Sweet+Pumpkin', 'T.V.+Cumbu', 'Tamarind+Fruit',
       'Tapioca', 'Taramira', 'Tender+Coconut', 'Tinda', 'Tobacco',
       'Tomato', 'Toria', 'Turmeric', 'Turmeric+(raw)', 'Turnip',
       'Water+Melon', 'Wheat', 'Wheat+Atta', 'White+Peas',
       'White+Pumpkin', 'Wood', 'Yam+(Ratalu)', 'Bamboo', 'Yam',
       'Kodo+Millet(Varagu)', 'Goat', 'Pear(Marasebu)', 'Balekai',
       'Gram+Raw(Chholia)', 'Cow', 'Same/Savi', 'Sugarcane',
       'She+Buffalo', 'Sheep', 'Soji', 'Chow+Chow', 'Pigs', 'Calf',
       'Duck', 'Ox', 'Dhaincha', 'Season+Leaves', 'Cock', 'Hippe+Seed',
       'Tamarind+Seed', 'Other+Pulses', 'Coca', 'Niger+Seed+(Ramtil)',
       'Ram', 'Thondekai', 'Galgal(Lemon)', 'Honge+seed', 'Lotus+Sticks',
       'Neem+Seed', 'Bran', 'Cherry', 'Mace', 'Kartali+(Kantola)',
       'She+Goat', 'Alsandikai', 'Mahedi', 'Bull', 'Thogrikai', 'Khoya',
       'Seetapal', 'Almond(Badam)', 'Butter', 'Rose(Loose)', 'Kinnow',
       'He+Buffalo', 'Marigold(loose)', 'Mataki', 'Sajje',
       'Marigold(Calcutta)', 'Ambada+Seed', 'Chrysanthemum(Loose)',
       'Cotton+Seed', 'Seemebadnekai', 'Gramflour',
       'Persimon(Japani+Fal)', 'Lint', 'Indian+Colza(Sarson)', 'Sabu+Dan',
       'Jasmine', 'Gurellu', 'Walnut', 'Bunch+Beans', 'Snake+gourd',
       'Ridge+gourd(Tori)', 'Dalda', 'Sabu+Dana', 'Tube+Rose(Loose)',
       'Rose(Local)', 'Seetafal', 'Siddota', 'Lukad', 'Sunhemp',
       'Alasande Gram', 'Amla(Nelli Kai)', 'Anthorium', 'its',
       '�\x02�x�\x7f�Apple', 'Arecanut(Betelnut/Supari)',
       'Arhar (Tur/Red Gram)(Whole)'], dtype=object)

In [5]:
df.corr()

C:\Users\91957\AppData\Local\Temp\ipykernel_10004\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

             min_price  max_price  modal_price  Unnamed: 7
min_price     1.000000   0.980030     0.691715         NaN
max_price     0.980030   1.000000     0.755216         NaN
modal_price   0.691715   0.755216     1.000000         NaN
Unnamed: 7         NaN        NaN          NaN         NaN